<md-content>
    <md-toolbar class="md-menu-toolbar md-hue-1" >
        <div layout="row">
            <md-toolbar-filler layout layout-align="center center">
                <md-icon>edit</md-icon>
            </md-toolbar-filler>
            <div >
                <h2 class="md-toolbar-tools">{{deckManager.name}}</h2>
                <div>
                    <md-button aria-label="Save Deck" class="md-icon-button" ng-click="saveDeck()">
                        <md-icon>save</md-icon>
                    </md-button>
                    <md-button aria-label="Delete Deck" class="md-icon-button" ng-click="deleteDeck()">
                        <md-icon>delete</md-icon>
                    </md-button>
                    <md-button aria-label="Close Deck" class="md-icon-button" ng-click="selectedTabIndex = 0; deckManager.deselectDeck()">
                        <md-icon>close</md-icon>
                    </md-button>
                    <md-divider>
                </div>
            </div>
        </div>
    </md-toolbar>
    <md-tabs md-selected="selectedTabIndex" md-dynamic-height>
        <md-tab label="Deck Viewer">
      <br>
      <md-card class="md-whiteframe-4" ng-show="deckManager.deck.length > 0" layout-gt-md="row" layout-align="center start">
          <div flex="33"  layout="column" layout-align="center start">
              <mana-curve deck="deckManager.deck" flex></mana-curve>
          </div>
          <div flex="33" layout="column" layout-align="center start">
              <div flex layout="column" layout-align="center center">
                  <mana-distribution deck="deckManager.deck" colorless="showColorless" flex></mana-distribution> 
                  <md-button ng-click="toggleColorless()" flex>{{ showColorless?"Hide Colorless Mana":"Show Colorless Mana"}}</md-button>
              </div>
          </div>
          <div flex="33" layout="column" layout-align="center start">
              <mana-source-distribution deck="deckManager.deck" colorless="showColorless" flex></mana-distribution> 
          </div>
      </md-card>
      <md-card  ng-show="deckManager.deck.length == 0">
          Add cards to generate graphs.
      </md-card>
          <md-card>
              <md-table-container>
                <table md-table>
                  <thead md-head>
                    <th md-column md-numberic><span>Count</span></th>
                    <th md-column><span>Name</span></th>
                    <th md-column><span>Type</span></th>
                    <th md-column><span>Mana</span></th>
                    <th md-column><span>Set</span></th>
                    <th md-column><span><md-icon>collections</md-icon></span></th>
                  </thead>
                  <tbody md-body>
                    <tr md-row ng-repeat="card in deckManager.pretty" ng-odd-class="md-primary" ng-click="showCard(card, $event)">
                      <td md-cell>{{card.count}}</td>
                      <td md-cell>{{card.name}}</td>
                      <td md-cell>{{card.type}}</td>
                        <td md-cell>
                            <span ng-repeat="symbol in card.manaSymbols track by $index" class='mi mi-mana mi-{{symbol}}'></span>
                        </td>
                      <td md-cell>IDL</td>
                      <td md-cell><md-icon>check</md-icon></td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
          <p ng-if="deckManager.pretty.length === 0">Go to the Deck Editor tab to begin adding cards!</p>
          </md-card>
        </md-tab>
        <md-tab label="Deck Editor">
            <br>
            <md-card class="md-whiteframe-4" ng-show="deckManager.deck.length > 0" layout-gt-md="row" layout-align="center start">
                <div flex="33"  layout="column" layout-align="center start">
                    <mana-curve deck="deckManager.deck" flex></mana-curve>
                </div>
                <div flex="33" layout="column" layout-align="center start">
                    <div flex layout="column" layout-align="center center">
                        <mana-distribution deck="deckManager.deck" colorless="showColorless" flex></mana-distribution> 
                        <md-button ng-click="toggleColorless()" flex>{{ showColorless?"Hide Colorless Mana":"Show Colorless Mana"}}</md-button>
                    </div>
                </div>
                <div flex="33" layout="column" layout-align="center start">
                    <mana-source-distribution deck="deckManager.deck" colorless="showColorless" flex></mana-distribution> 
                </div>
            </md-card>
            <md-card  ng-show="deckManager.deck.length == 0">
                Add cards to generate graphs.
            </md-card>
            <md-card  layout="row">
                <div flex="20" ng-include="'selector/selector.html'">
                </div>
                <div flex="noshrink" >
                    <md-content dragula='"bag-one"' class="copy-target"  style="border-style: solid; border-width: 1px 1px 1px 1px; padding: 5px; overflow-y: scroll; height: 300px;; ">
                        <div ng-repeat="card in deckManager.pretty" dragula-scope="$parent" class="you-may-remove-us" ng-mouseover="viewCard($index)" ng-mouseleave="hideCard()" style="cursor: pointer">{{card.count}} {{ card.name }}</div>
                        <p ng-if="deckManager.pretty.length === 0">Drop cards here to add them to your deck.</p>
                    </md-content>
                    <md-content dragula='"bag-one"' class="remove-target" style="border-style: solid; border-width: 0px 1px 1px 1px; padding: 5px;">
                        <p>Drag cards here to delete them.</p>
                    </md-content>
                    <br>
                </div>
                <div flex="20" ng-include="'viewer/viewer.html'">
                </div>
            </md-card>
        </md-tab>
        
        <md-tab label="Deck Statistics">
            <br>
            <ng-card ng-show="deckManager.deck.length > 0" layout="row">
                <div flex="25">
                    <mana-curve deck="deckManager.deck"></mana-curve>
                </div>
                <div flex="25" style="text-align: center;">
                    <mana-distribution deck="deckManager.deck" colorless="showColorless"></mana-distribution> 
                    <br>
                    <md-button ng-click="toggleColorless()">{{ showColorless?"Hide Colorless Mana":"Show Colorless Mana"}}</md-button>
                </div>
                <div flex="25">
                    <mana-source-distribution deck="deckManager.deck" colorless="showColorless"></mana-distribution> 
                </div>
                <div flex="25"></div>
            </ng-card>
            <ng-card ng-show="deckManager.deck.length == 0">
                Add cards to generate graphs.
            </ng-card>
            <ng-card>
                <h1>More statistics soon to come</h1>
            </ng-card>
        </md-tab>

        <md-tab label="Visual Spoiler">
            <br>
            <image ng-repeat="card in deckManager.deck" ng-src="{{getUrl(card)}}" />
        </md-tab>

        <md-tab ng-click="newHand()" label="Starting Hand">
            <br>
            <div>
                <button ng-click="newHand()">New Hand</button>
                <button ng-click="addCardToHand()">Add Another Card</button>
                <button ng-click="mulligan()">Mulligan</button>
            </div>
            <br>
            <div>
                <image ng-repeat="card in startingHand.hand" ng-src="{{ getUrl(card) }}" />
            </div>
        </md-tab>

        <md-tab label="Probabilities">
            <br>
            <h1>Probabilities soon to come</h1>
        </md-tab>

        <md-tab label="Notes">
            <br>
            <div>
                <textarea ng-model="deckManager.notes" style="height:90%; width:90%;"></textarea>
            </div>
            <div>
                <button ng-click="deckManager.saveNotes()">Save Notes</button>
            </div>
        </md-tab>
        <md-tab label="Bulk Import">
            <div> 
                <div>
                    <textarea ng-model="importCards"></textarea> 
                </div>
                <div>
                    <md-button ng-click="bulkImport()">Import</md-button>
                </div>
            </div>
        </md-tab>
    </md-tabs>
</md-content>
